@use 'base/variables' as v;
@use 'base/mixins' as mx;

.header{
    background-color: v.$verde;
    .contenido_header{
        padding: 2rem;
        @include mx.tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1{
        color: v.$blanco;
        
        @include mx.tablet{
            margin: 0;
            text-align: left;
        }
    }
}

.navegacion_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mx.tablet{
        flex-direction: row;
    }

    a{
        color: v.$blanco;
        font-size: 2.4rem;
        &:hover{
            color: v.$amarillo;
        }
    }
}
